/*panel centering classes*/

.panel_offset {
	width: 100%;
	position: relative;
	left: 50%;
}

.panel_rebalance {
	width: 1000px;
	overflow: visible;
}

/*Main two panels*/

#viewpanel, #controlpanel {
	min-height: 600px;
	height: 100%;
	position: relative;
	right: 50%;
}

#viewpanel {
	float:left;
	width: 650px;
	margin: 0px auto;
	overflow: hidden;
	font-size: 90%;
}

#controlpanel {
	float: left;
	width: 350px;
	margin: 0px auto;
	overflow: hidden;
	font-family: 'arial';
	font-size: 90%;
}

/*Child panels of viewpanel*/

#viewport {
	width: auto;
	height: 320px;
	margin: 3px 3px 0px 3px;
	border-top: 2px solid #555555;
	border-right: 2px solid #555555;
	border-bottom: none;
	border-left: 2px solid #555555;
	background-color: #AAAAAA;
}

#chatbox {
	width: auto;
	height: 262px;
	margin: 0px 3px 3px 3px;
	border: 2px solid #555555;
	padding: 2px;
	background-color: #555555;
	color: #FFFFFF;
	-moz-border-radius-bottomright: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-left-radius: 15px;
}

/*Child panels of controlpanel*/

#servlog {
	width: auto;
	height: 412px;
	margin: 3px 3px 0px 3px;
	border-top: 2px solid #555555;
	border-right: 2px solid #555555;
	border-bottom: none;
	border-left: 2px solid #555555;
	padding: 3px;
	background-color: #FFFFFF;
}

#controller {
	width: auto;
	height: 162px;
	margin: 0px 3px 3px 3px;
	border: 2px solid #555555;
	padding: 3px;
	background-color: #555555;
	color: #FFFFFF;
	text-align: center;
	-moz-border-radius-bottomright: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-left-radius: 15px;
}

/*Child panels of viewport*/

#viewscreen, #viewmap {
	width: 640px;
	height: 320px;
}

#viewscreen {
	background-color: #AAAAAA;
	z-index: 2;
}

#viewmap {
	position: relative;
	bottom: 100%;
	background-color: #5555FF;
	z-index: 3;
	visibility: hidden;
}

/*Child panels of chatbox*/

#messages, #shoutbox {
	width: 332px;
	padding: 3px;
}

#messages {
	width: auto;
	height: 180px;
	background-color: #FFFFFF;
	overflow: auto;
	overflow-x: hidden;
}

.msg_user {
	width: auto;
	padding: 3px 0px;
	overflow: auto;
}

.msg_name {
	float: left;
	width: 25%;
	color: #880000;
	font-weight: bold;
	text-align: right;
}

.msg_content {
	float: left;
	width: 50%;
	color: #000000;
}

.msg_date {
	float: left;
	width: 25%;
	color: #999999;
}

#shoutbox {
	width: auto;
	height: 67px;
	margin: 0px 2px 2px 2px;
	background-color: #555555;
	color: #FFFFFF;
	border: 2px solid #555555;
	text-align: center;
	overflow: hidden;
}

#shoutbox textarea {
	width: 50%;
	padding: 2px;
	height: 32px;
	text-align: left;
	resize: none;/*specific to some browsers*/
	font-family: 'arial';
	outline: none;
	border: none;
}

#send_shout_div {
	width: 300px;
	margin: 0 auto;
	text-align: right;
}

/*Camera Style*/

#camcontrol {
	height: 170px;
	margin: 0px 2px 2px 2px;
	border: 2px solid #555555;
	background-color: #555555;
	color: #FFFFFF;
	overflow: hidden;
}

#controlui {
	width: auto;
	height: auto;
	text-align: center;
	overflow: hidden;
	
	/* Cross platform way to stop annoying highlighting when clicking buttons */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.movebutton {
	width: 54px;
	height: 54px;
	margin: 0px auto;
	position: relative;
}

#move_up, #move_right, #move_down, #move_left, #toggle_map, #toggle_chat {
	width: 100%;
	height: 100%;
	position: relative;
}

#move_up {
	
}

#move_right {
	left: 100%;
}

#move_down {
	bottom: 100%;
}

#move_left {
	bottom: 200%;
	right: 100%;
}

#toggle_map {
	bottom: 400%;
	left: 100%;
}

#toggle_chat {
	bottom: 120%;
	right: 400%;
}

#btn_up, #btn_right, #btn_down, #btn_left, #btn_map, #btn_chat {
	position: relative;
	width: 50px;
	height: 50px;
	background-color: #888888;
	left: 2px;
	top: 2px;
}

#btn_up {
	background-image:url('../img/btn_up.png');
}

#btn_right {
	background-image:url('../img/btn_right.png');
}

#btn_down {
	background-image:url('../img/btn_down.png');
}

#btn_left {
	background-image:url('../img/btn_left.png');
}

#btn_map{
	/*background-image:url('../img/btn_map.png');*/
	background-color: #AAAAFF;
}

#btn_chat{
	/*background-image:url('../img/btn_chat.png');*/
	background-color: #AAAAFF;
}

/*button effects style*/

.btn_hover {
	background-color: #FF0000;
}
.btn_click {
	background-color: #0000FF;
}

/*UI general settings*/

.bumpleft {
	margin-right: 5px;
}

.bumpright {
	margin-left: 5px;
}