<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>{% block title %}{% endblock %} - Swarming Heads</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mainstyle.css" />
		<!-- <script type="text/javascript" src="{{ STATIC_URL }}js/library/mootools-core-1.3.1-full-compat.js"></script> -->
		<script type="text/javascript" src="{{ STATIC_URL }}js/library/jquery-1.6.2.min.js"></script>
		
		{% block headcontents %}{% endblock %} <!-- Let derived pages add head content when necessary -->
	</head>
	
	<body>
		<div id="container" class="border_glow">
			<div id="clearheader"></div>
			
			<div id="content">
				{% block body %}{% endblock %}
			</div>
			
			<div id="clearfooter"></div>
		</div>

		<div id="footer">
			<div class="sectcontent"><h2>Thinking Heads Footer</h2></div>
		</div>

		<div id="header">
			<div class="sectcontent"><h2>Thinking Heads Header</h2></div>
		</div>
	</body>
</html>