{% extends "swarmingHeads/ui_base.html" %}

{% block title %}Index{% endblock %}

{% block headcontents %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/uistyle.css" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/controlScript.js"></script>
	<script src="{{ STATIC_URL }}js/library/hookbox.min.js" type="text/javascript"></script>
	
	<script type="text/javascript">
		  if (!window.console) {
		    console = {
		      log: function() {},
		      error: function() {},
		    };
		  }
		
		  var connection;
		
		  function send_message() {
			tb = document.getElementById('shout_text')			  
		    connection.publish('{{ user_name }}', tb.value);
		    tb.value = "";
		    return false;
		  };
		
		  //Our callback for when a message is pushed to the client
		  function publish(message) {
			console.log(message);
			message_div = document.createElement("div");
			message_div.innerHTML = message.payload;
			document.getElementById("messages").appendChild(message_div);
		    
		  };
		
		  $(document).ready(function() {
			  	
			    //Connect to our hookbox instance
			  	connection = hookbox.connect('http://{{ hookbox_host }}:{{ hookbox_port }}');
			    
			    //Set up our connection callbacks
			    connection.onOpen = function() {
			    	console.log("Connected established");
			    };
			    
			    connection.onError = function(err) {
			      console.error("hookbox error: " + err.msg);
			    };
			
			    connection.onSubscribed = function(channel, subscription) {
			      console.log('Subscribed to channel:', channel);
			      $.each(subscription.history, function(ii, msg) {
			        if (msg[0] === 'PUBLISH') {
			          publish(msg[1]);
			        }
			      });
			      subscription.onPublish = publish;
			    };
			
			    connection.onUnsubscribed = function(channel, subscription) {
			      console.log('Unsubscribed from channel:', channel);
			    };
			
			    connection.subscribe('{{ user_name }}');
		  });
		</script>
{% endblock %}

{% block body %}
	<div id="viewpanel">
		<div id="viewport">
			<div id="viewscreen">Camera View - camera code should be chucked in here.</div>
			<div id="viewmap">
				<canvas id="robmap" width="640" height="320"></canvas>
			</div>
		</div>
		
		<div id="chatbox">
			<div id="messages">
				<div class="msg_user">
					<div class="msg_name"><div class="bumpleft">Shifty Magician:</div></div>
					<div class="msg_content"><div class="bumpright">Here is where the message itself will be.</div></div>
					<div class="msg_date">11:30 A.M.</div>
				</div>
				
				<div class="msg_user">
					<div class="msg_name"><div class="bumpleft">Shifty Magician:</div></div>
					<div class="msg_content"><div class="bumpright">This is another one</div></div>
					<div class="msg_date">11:31 A.M.</div>
				</div>
				
				<div class="msg_user">
					<div class="msg_name"><div class="bumpleft">Shifty Magician:</div></div>
					<div class="msg_content"><div class="bumpright">To demonstrate the spacing and scrolling</div></div>
					<div class="msg_date">11:32 A.M.</div>
				</div>
				
				<div class="msg_user">
					<div class="msg_name"><div class="bumpleft">Shifty Magician:</div></div>
					<div class="msg_content"><div class="bumpright">Lorem this Ipsum.</div></div>
					<div class="msg_date">11:33 A.M.</div>
				</div>
				
				<div class="msg_user">
					<div class="msg_name"><div class="bumpleft">Shifty Magician:</div></div>
					<div class="msg_content"><div class="bumpright">
						This is an example of a sentence that takes more than one line to cover.  All cases need to be covered in this area.
					</div></div>
					<div class="msg_date">11:33 A.M.</div>
				</div>
			</div>
			
			<div id="shoutbox">
				{% csrf_token %}
				<textarea id="shout_text"></textarea><br />
				<div id="send_shout_div">
					<button id="send_shout" onclick="send_message()">Send Message</button>
				</div>
			</div>
		</div>
	</div>
	
	<div id="controlpanel">
		<div id="servlog">
			Here is where server messages not related to the chat will be.
		</div>
		
		<div id="controller">
			Control Box
			
			<div id="controlui">
				<div class="movebutton"><div id="move_up"><div id="btn_up">
					<img src="{{ STATIC_URL }}img/btn_up.png" alt="button up" />
				</div></div></div>
				<div class="movebutton"><div id="move_right"><div id="btn_right">
					<img src="{{ STATIC_URL }}img/btn_right.png" alt="button up" />
				</div></div></div>
				<div class="movebutton"><div id="move_down"><div id="btn_down">
					<img src="{{ STATIC_URL }}img/btn_down.png" alt="button up" />
				</div></div></div>
				<div class="movebutton"><div id="move_left"><div id="btn_left">
					<img src="{{ STATIC_URL }}img/btn_left.png" alt="button up" />
				</div></div></div>
				<div class="movebutton"><div id="toggle_map"><div id="btn_map"></div></div></div>
			</div>
		</div>
	</div>
{% endblock %}