{% extends "ui_base.html" %}

{% block title %}Login{% endblock %}

{% block headcontents %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/formstyle.css" />
{% endblock %}

{% block body %}
	<div id="loginmain">
		<div class="contentpadder">
			This is where main information about Swarming Heads will be.  On the right side there will be a login option as well for users to login to the main interface.
		</div>
	</div>
		
	<div id="loginform">
		<form method="post" action="./">{% csrf_token %}
			<div class="contentpadder">
				<h2>User Login:</h2>
				<table class="logintable">
					{{ form.as_table }}
				</table>
			</div>
			
			<p><input type="submit" name="submit" value="Login" /></p>
		</form>
	</div>
{% endblock %}