{% extends "testing/master_template.html" %}

{% block header_content %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>

	<script>
		function getAjaxResponse(value) {
		  $.get("set_username/", { user_name: value }, function(response){
		    alert("Got a response of: " + response);
		  });
		}
		
		function addClickHandlers() {
		  $("#submit_link").click( function() {
		  	value = $("#username").val()
		  	getAjaxResponse(value) 
		  });
		  
		}
		
		$(document).ready(addClickHandlers);
	</script>
{% endblock header_content %}

{% block page_title %}
	Ajax Test
{% endblock page_title %}

{% block heading %} 	
	Django Ajax Test!
{% endblock heading %}

{% block page_description %}
	This page will send some information to the server, and then get a response,
	all asynchronously without reloading the current page	
{% endblock page_description %}

{% block test_body %}
	<p>Hello user {{ user_id }}, what is your name?</p>

	<textarea id="username" rows="1" cols="20"></textarea>
	
	<br />
	
	<button id="submit_link">Get response</button>
{% endblock test_body %}
