<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Chat example for django-hookbox</title>
		<script src="{{ STATIC_URL }}js/library/jquery-1.6.2.min.js"></script>
		<script src="{{ STATIC_URL }}js/library/hookbox.min.js" type="text/javascript"></script>
		<script type="text/javascript">
		  if (!window.console) {
		    console = {
		      log: function() {},
		      error: function() {},
		    };
		  }
		
		  var connection;
		
		  function post(form) {
		    connection.publish('/chat/', form.content.value);
		    form.reset();
		    return false;
		  };
		
		  function publish(frame) {
		    alert("BRO, GOT A MESSAGE: " + frame.payload);
		  };
		
		  $(document).ready(function() {
		    connection = hookbox.connect('http://127.0.0.1:8001');
		    connection.onOpen = function() {
		    	console.log("Connected established!");
		    };
		    
		    connection.onError = function(err) {
		      console.error("hookbox error: " + err.msg);
		    };
		
		    connection.onSubscribed = function(channel, subscription) {
		      console.log('Subscribed to channel:', channel);
		      $.each(subscription.history, function(ii, msg) {
		        if (msg[0] === 'PUBLISH') {
		          publish(msg[1]);
		        }
		      });
		      subscription.onPublish = publish;
		      $('form#post').css('display', 'inline');
		    };
		
		    connection.onUnsubscribed = function(channel, subscription) {
		      console.log('Unsubscribed from channel:', channel);
		      $('form#post').css('display', 'none');
		    };
		
		    connection.subscribe('/chat/');
		  });
		</script>
	</head>
	
	<body>
		<form id="post" onsubmit="return post(this)">
			<label for="content">Type here:<input type="text" id="content" name="content" size="60"/></label>
		</form>
	</body>
</html>