{% extends "testing/master_template.html" %}

{% block page_title %}
	Template Test
{% endblock page_title %}

{% block heading %} 	
	Django Template System Test!
{% endblock heading %}

{% block test_body %}
	<p> {{ tag_1 }} </p>
	<p> {{ tag_2 }} </p>
	<p> {{ tag_3 }} </p>
	<p> {{ tag_4 }} </p>
	<p> {{ tag_5 }} </p>
	
	{% if conditional %}
		<p>The conditional value was TRUE!</p>
	{% else %}
		<p>The conditional value was FALSE!</p>
	{% endif %}
{% endblock test_body %}

